<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  
<mapper namespace="Member">

<!--로그인 가능 체크-->   
<select id="loginCheck" parameterType="com.keud.boardproject.dto.MemberDTO" resultType="int">
    SELECT COUNT(*) FROM members WHERE id = #{id} AND pw = #{pw}
</select>

<!--아이디로 DTO 꺼내오기-->   
<select id="getInforById" parameterType="com.keud.boardproject.dto.MemberDTO" resultType="com.keud.boardproject.dto.MemberDTO">
    SELECT * FROM members WHERE id = #{id}
</select>


<delete id="deleteId">
	delete from members where id = #{id}
</delete>

<update id="updateInforById">
	update members set name = #{name}, email =#{email} where id = #{id}
</update>

</mapper>