<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  
<mapper namespace="Member">

<!--로그인 가능 체크-->   
<select id="loginCheck" parameterType="com.keud.boardproject.dto.MemberDTO" resultType="int">
    SELECT COUNT(*) FROM members WHERE id = #{id} AND pw = #{pw}
</select>

<!--멤버 인서트-->
<insert id="insert" parameterType="com.keud.boardproject.dto.MemberDTO">
    insert into members (id, pw, name, email) values(#{id}, #{pw}, #{name}, #{email})
</insert>


   
</mapper>